<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Document</title>
</head>

<body>
	<table>
		<h1>Ingrese el periodo de fechas:</h1>
		<tr>
			<td>
				<label>Fecha inicial</label>
			</td>
			<td>
				<input type="datetime-local" id="fechainicio">
			</td>
		</tr>
		<tr>
			<td>
				<label>Fecha final</label>
			</td>
			<td>
				<input type="datetime-local" id="fechafinal">
			</td>
		</tr>
	</table>    
		<thead>
			<tr>
				<th>Numero</th>	
				<th>Fecha de inicio</th>
				<th>Fecha de Fin</th>
			</tr>
		</thead>
	<table>
		<thead>
	</table>
</body>

</html>