<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>

<body>
	<table class="table table-success table-striped">
		<thead>
			<tr>
				<th>Placa: </th>
				<th>Modelo: </th>
				<th>Año: </th>
				<th>País de Origen: </th>
				<th>Estado: </th>
				<th>Cilindraje: </th>
				<th>Avaluo: </th>
				<th>Valor por Día: </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehiculo:${empleados}">
				<td th:text="${vehiculo.placa}"></td>
				<td th:text="${vehiculo.modelo}"></td>
				<td th:text="${vehiculo.anio}"></td>
				<td th:text="${vehiculo.pais}"></td>
				<td th:text="${vehiculo.estado}"></td>
				<td th:text="${vehiculo.cilindraje}"></td>
				<td th:text="${vehiculo.avaluo}"></td>
				<td th:text="${vehiculo.valor}"></td>
				<td>
					<form th:action="@{/empleados/borrarV/{id}(id=${vehiculo.id})}" th:object="${vehiculo}"
						th:method="DELETE">

						<input type="submit" value="Borrar">
					</form>
				</td>
				<td>
					<form th:action="@{/empleados/buscarVporId/{id}(id=${vehiculo.id})}" th:object="${vehiculo}"
						th:method="GET">

						<input type="submit" value="Editar">
					</form>
				</td>
				
				<td>
					<form th:action="@{/empleados/visualizarVehiculo/{id}(id=${vehiculo.id})}" th:object="${vehiculo}"
						th:method="GET">
						<input type="submit" value="Visualizar">
					</form>
				</td>	
			</tr>
		</tbody>
	</table>
</body>

</html>