<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Document</title>
</head>

<body>
	<form th:action="@{/empleados/reporte/listaReservas}" th:method="POST">
		<table>
			<h1>Ingrese el periodo de fechas:</h1>
			<tr>
				<td>
					<label>Fecha inicial</label>
				</td>
				<td>
					<input type="datetime-local" id="fechaInicio" name="fechaInicio" th.value="${fechaInicio}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Fecha final</label>
				</td>
				<td>
					<input type="datetime-local" id="fechaFinal" name="fechaFinal" th.value="${fechaFinal}">
				</td>
			</tr>

		</table>

		<input class="btn btn-primary" type="submit" value="Buscar">
	</form>
</body>

</html>